<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<div th:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col-md-3 p-1">
                <div class="card">
                    <img class="card-img-top" src="../img/Kevin.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Kevin van der Kruk</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                            card's content.</p>
                           <a class="btn btn-dark" data-toggle="collapse" href="#collapse01" role="button" aria-expanded="false" aria-controls="collapseExample">
                               Extra info
                         </a>
                         <div class="collapse" id="collapse01">
                             <a href="https://github.com/Lektro/" target="_blank">GitHub</a><br/>
                             <strong>+324 68 05 88 67</strong><br/>
                         </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 p-1">
                <div class="card">
                    <img class="card-img-top" src="../img/Wouter.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Wouter Kenis</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                            card's content.</p>
                        <a class="btn btn-dark" data-toggle="collapse" href="#collapse02" role="button" aria-expanded="false" aria-controls="collapseExample">
                            Extra info
                        </a>
                        <div class="collapse" id="collapse02">
                            <a href="https://github.com/wouterKenis1/" target="_blank">GitHub</a><br/>
                            <strong>+324 99 71 43 01</strong><br/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 p-1">
                <div class="card">
                    <img class="card-img-top" src="../img/Maxim.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Maxim Verbeeck</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                            card's content.</p>
                        <a class="btn btn-dark" data-toggle="collapse" href="#collapse03" role="button" aria-expanded="false" aria-controls="collapseExample">
                            Extra info
                        </a>
                        <div class="collapse" id="collapse03">
                            <a href="https://github.com/MaximVerb" target="_blank">GitHub</a><br/>
                            <strong>+324 79 19 32 24 </strong><br/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 p-1">
                <div class="card">
                    <img class="card-img-top" src="../img/KlaasDeCock.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Klaas De Cock</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                            card's content.</p>
                        <a class="btn btn-dark" data-toggle="collapse" href="#collapse04" role="button" aria-expanded="false" aria-controls="collapseExample">
                            Extra info
                        </a>
                        <div class="collapse" id="collapse04">
                            <a href="https://github.com/Superklaas" target="_blank">GitHub</a><br/>
                            <strong>+324 91 07 59 60</strong><br/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="row  justify-content-center">
                <div class="col-md-3 p-1">
                    <div class="card">
                        <img class="card-img-top" src="../img/ThomasG.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Thomas Goos</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                                card's content.</p>
                            <a class="btn btn-dark" data-toggle="collapse" href="#collapse05" role="button" aria-expanded="false" aria-controls="collapseExample">
                                Extra info
                            </a>
                            <div class="collapse" id="collapse05">
                                <a href="https://github.com/Goos0018" target="_blank">GitHub</a><br/>
                                <strong>+324 85 42 33 12</strong><br/>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 p-1">
                    <div class="card">
                        <img class="card-img-top" src="../img/ThomasV.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Thomas Veris</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                                card's content.</p>
                            <a class="btn btn-dark" data-toggle="collapse" href="#collapse06" role="button" aria-expanded="false" aria-controls="collapseExample">
                                Extra info
                            </a>
                            <div class="collapse" id="collapse06">
                                <a href="https://github.com/ThomasVeris/">Github</a><br/>
                                <strong>+324 86 86 87 65</strong><br/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 p-1">
                    <div class="card">
                        <img class="card-img-top" src="../img/Tibo.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Tibo Baguette</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                                card's content.</p>
                            <a class="btn btn-dark" data-toggle="collapse" href="#collapse07" role="button" aria-expanded="false" aria-controls="collapseExample">
                                Extra info
                            </a>
                            <div class="collapse" id="collapse07">
                                <a href="https://github.com/tiboBaguette">Github</a><br/>
                                <strong>+324 74 56 48 79</strong><br/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</html>

